body{
  background-color: white;
}


#quotesection{
  background-color: rgb(139,207,211);
  margin: 15vh 20vw;
  padding: 6vh 7vw;
  border-radius: 10px;
}

button{
  font-family: "Niramit";
  font-size: 14px;
  font-weight: bold;
  background-color: rgb(255,210,141);
  color: black;
  border-radius: 10px;
  padding: 2vh 2vw;
  margin-top: 1vh;
}

button:hover{
  border: #fff solid 1px;
}

button:active{
  color: rgb(81,79,76);
}

h1{
  font-family: "Poppins";
  font-weight: bold;
  font-size: 21px;
}

#flex{
  display: flex;
  /* margin-left: 100px; */
  margin-right: 100px;
  width: 100vw;
}

img{
  width: 200px;
  height: 200px;
}

.flexitem{
  /* flex-grow: 1; */
  background-color: rgb(255,210,141);
  margin: auto;
  width: 300px;
  text-align: center;
}

h2{
  font-family: "Niramit";
  text-align: center;
}
