@media screen and (min-width:800px){
  #contactimg{
    display:block;
  }
}

@media screen and (max-width:801px){
  #contactimg{
    display:none;
  }

  #hero h1{
    font-size: 30px;
    font-family:"Bebas Neue";
  }
}

  /* #portfolio{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "header two"
    "header three"
    "four four";
  }
}

@media screen and (max-width:801px){ */
  /* #contactimg{
    display:none;
  }

  #hero h1{
    font-size: 30px;
    font-family:"Bebas Neue";
  } */

  /* #portfolio{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "two"
    "three"
    "four";
  }
}


/* #hero h1{
  z-index:1;
  color: #fff;
  position: absolute;
  margin-top:60px;
  margin-left: 30px;
  margin-right: 100px;
  font-weight: 600;
  font-size: 43px;
} */


body{
  margin: auto 10vw auto 10vw;
}

.contactdivs{
  height:100%;
}

#social img{
  width:50px;
  margin: 0px 10px 0px 10px;
}

#social{
  display:flex;
  width: 60%;
  margin:auto;
  justify-content: center;
  flex-grow: 1;
}

#hero img{
  border-radius: 20px;
  width: 90%;
  height: 500px;
  object-fit: cover;
}

#hero{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-row: 100vh;
  column-gap: 5px;
  margin-top: 40px;
}

#topnav nav{
  display: flex;
  text-align: center;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  color: black;
}

#topnav a{
  margin: 0 2%;
  font-family: "Bebas Neue";
  font-size: 35px;
}

#nameheader h1{
  font-family: "Bebas Neue";
  font-size:60px;
  text-align: center;
}

#active{
  color: #EDA34C;
}

p{
  font-family: "Poppins";
}

#AboutMe{
  width: 50%;
}

}
body{
  margin-bottom: 100px;
}


* {box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 30px;
}

.slideshow-container, .text {
  text-align: center;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  background-color: rgba(0,0,0,0.8);
}

.prev{
  left: 0;
  border-radius: 3px 0 0 3px;
  background-color: rgba(0,0,0,0.8);
}

.text {
  font-family: "Poppins";
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#resume{
  margin-top: 30px;
}

#contacttext{
  text-align: center;
}

#contacttext h1{
  font-family: "Bebas Neue";
  margin-top: 100px;
  font-size: 50px;
}

#contacttext h2{
  font-family: "Poppins";
  font-weight: bold;
  font-size: 30px;
}

#contacttext h4{
  font-family: "Poppins";
  font-size: 20px;
  margin-top: 80px;
}

#mailto{
  font-family: "Poppins";
  font-size: 16px;
  color: black;
  margin-bottom: 100px;
}

#email a{
  font-family: "Poppins";
  font-size: 20px;
}

/* Color matching social media icons */
.fa-linkedin{
  color: #EDA34C;
}

.fa-instagram{
  color: #EDA34C;
}

.fa-twitter{
  color: #EDA34C;
}

.fa-facebook{
  color: #EDA34C;
}


nav a{
  color: black;
  text-decoration: none;
}

/* Spacing social media icons */
.socialimg{
  margin-left: 10px;
  margin-right: 10px;
}
