body {
  padding: 0px;
  margin: 0px;
}

p {
  color: black;
  font-family: "Niramit";
}

h1,h2 {
  font-family:"Racing Sans One";
}

h2 {
  font-size:35px;
}

#carmel {
  width:100vw;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  height: 500px;

}

#carmel img {
  width:100vw;
  position: relative;
  bottom: 190px;
}

#carmel h1 {
  z-index: 1;
  position: relative;
  font-size: 4vw;
  top: 5vh;
  margin:0 0 0 4vw;
}

#one, #two, #three{
  margin-left: 4vw;
  margin-right: 1vw;
  margin-top: 5vw;
}

button {
  background-color: #E6E6FA;
  font-family:"Niramit";
  border-radius: 7px;
  font-size:25px;
  margin: 10px;
  padding: 7px 15px;
}

button:active{
  background-color: #EDA698;
  color: white;
}

button:hover{
border: solid black 3px;
}

a:visited{
  color:black;
}

a:link{
  color: black;
}

a:hover{
  font-size: 110%;
  color: #728FCE;
}

a:active{
  color: lightgrey;
}
